@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-arimo), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


:root {
  --primary: #9d6d09;
  --secondary: #cfaf6a;
  --accent: #e67e22;
  --background: #f5f5f5;
  --text-primary: #333333;
  --text-secondary: #777777;
}

html {
  scroll-behavior: smooth;
}


.heroBG {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.294), rgba(0, 0, 0, 0.705)), url("../public/hero.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pBg {
  background: var(--primary);
}

.pCl {
  color: var(--primary) !important;
}

.sBg {
  background: var(--secondary);
}

.sCl {
  color: var(--secondary) !important;
}

.forMan {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.482), rgba(0, 0, 0, 0)), url("../public/forman.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.forwoman {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.482), rgba(0, 0, 0, 0)), url("../public/forwoman.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 5px; */

}





.clipPath {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}












/* loading css is here */
/* HTML: <div class="loader"></div> */
.loader {
  margin: 7px;
  width: 40px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #ffffff 90%, #0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 .7s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0)
  }
}


@media (max-width:768px) {
  .heroBG {
    background-position: right 30% center;
  }
}